[submodule "bases"]
	path = bases
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_nest_bases.git
[submodule "microservices"]
	path = microservices
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_nest_microServices.git
